.nav {
  position: fixed !important;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

.navActive {
  position: fixed !important;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(255, 255, 255) !important;
  padding: 10px;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.75);
}

.navText {
  color: #2e266f !important;
  margin: 5px 30px 5px 30px;
}

.navText:hover {
  color: #6e5fcc !important;
}

.navIcon {
  font-size: 35px;
  margin-right: 10px;
  color: #fff !important;
}

.navIconLogout {
  font-size: 30px;
  margin-right: 10px;
  color: #fff !important;
}

.navIconActive {
  font-size: 35px;
  margin-right: 10px;
  color: #efc81a !important;
}

.navIconLogActive {
  font-size: 30px;
  margin-right: 10px;
  color: #efc81a !important;
}

.iconText {
  color: #fff !important;
  cursor: pointer;
}

.iconTextActive {
  color: #efc81a !important;
  cursor: pointer;
}

.navIcon:hover,
.iconText:hover,
.navIconLogout:hover {
  color: #ffe989 !important;
}

.navIconActive:hover,
.iconTextActive:hover,
.navIconLogActive:hover {
  color: #ffdd44 !important;
}

.display {
  display: none !important;
}
