input:focus {
  box-shadow: -1px 4px 16px -10px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: -1px 4px 16px -10px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -1px 4px 16px -10px rgba(0, 0, 0, 0.75) !important;
  border: 1px solid #555555 !important;
}

.btn {
  height: 50px;
  width: 150px;
  background-color: #efc81a;
  color: #ffffff;
  border-radius: 5px;
}
