@font-face {
  font-family: airbnb;
  src: url('../font/AirbnbCereal.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.font {
  font-family: airbnb;
}

input:focus {
  /* box-shadow: none !important; */
  box-shadow: -1px 4px 16px -10px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: -1px 4px 16px -10px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: -1px 4px 16px -10px rgba(0, 0, 0, 0.75) !important;
  border: 1px solid #efc81a !important;
}
